@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    gap: 4px;
    overflow-y: hidden;
}

.left {
    width: 25vw;
    height: 100vh;
    position: relative;
    background-color: #000;
}

.right {
    position: relative;
    width: 75vw;
    height: 100vh;
    padding-top: 10px;
}

.close {
    display: none;
    position: absolute;
    right: 31px;
    top: 25px;
}

.left-header {
    padding: 20px;
    margin: 10px;
}

.left-header ul li {
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.cur {
    cursor: pointer;
}

.left-header ul li img {
    cursor: pointer;
    filter: invert(100%);
    margin: 10px 20px 10px 0px;
}

.liabrary {
    padding: 20px;
    margin: 10px;
    height: 68vh;
    position: relative;

}

.liabraryContent {
    margin-bottom: 10px;
    overflow-y: auto;
    margin: 10px 0px;
    height: 90%;
}

.liabraryContent ul li {
    padding: 10px;
    border: 1px solid grey;
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    color: black;
    background-color: #171717;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}

.liabraryContent ul li:hover {
    background-color: #0a0a0a;
}

.liabraryContent ul li {

    color: white;
}

.liabraryHeader {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    width: 19vw;
}

.footer ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.footer li {
    margin: 0 5px;
    /* Adjust spacing between items */
}

.footer a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar {
    align-items: center;
    z-index: 999;
    /* Ensure the navbar appears above other content */
    background-color: #0a0a0a;
    height: 65px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    border-top-left-radius: 10px;
    /* Rounded top-left corner */
    border-top-right-radius: 10px;
    /* Rounded top-right corner */

}

.hamburger {
    display: none;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons img {
    width: 30px;
    cursor: pointer;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signup-btn {
    padding: 12px;
    width: 100px;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: #0a0a0a;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.login-btn {
    padding: 12px;
    width: 100px;
    border-radius: 30px;
    border: none;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.signup-btn:hover {
    font-size: 15px;
}

.login-btn:hover {
    font-size: 15px;
}

.playlists {
    overflow-y: auto;
    height: 60vh;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: calc(100vh - 65px);
    /* Adjust height to fit remaining space */
}

.playlists h2 {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 10px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    /* Adjust the gap between cards */
    flex-wrap: wrap;
    margin: 10px 10px 150px 10px;
}

.card {
    position: relative;
    /* Ensure the card is a positioned ancestor for absolute positioning */
    height: 300px;
    width: 200px;
    background-color: #171717;
    border-radius: 8px;
    overflow: hidden;
    /* Ensure the button doesn't overflow */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.card img {
    width: 180px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

.card h3 {
    color: white;
}

.card p {
    color: rgb(196, 196, 196);
    font-size: 10px;
    margin: 3px 0px;
}

.txtContent {
    padding: 10px;
}

.play-button {
    position: absolute;
    bottom: 100px;
    /* Adjust as needed */
    right: 15px;
    /* Adjust as needed */
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s ease-out;

}

.songbtn img {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 20px rgba(238, 250, 242, 0.5);
    /* Change the glow color and intensity as needed */
}

.play-icon {
    fill: #000;
    /* Change color as needed */
    width: 50%;
    height: 100%;
}

.card:hover .play-button {
    opacity: 1;
    bottom: 130px;
}

.playbar {
    background-color: rgb(94, 94, 94);
    position: fixed;
    min-height: 60px;
    width: 74vw;
    border-radius: 10px;
    bottom: 0;
    z-index: 999;
    /* Ensure it appears above other content */
}

.songbtn {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 250px;
    text-align: end;

}

.abovebar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}

.songinfo {
    font-size: 12px;
    color: white;
    width: 250px;
}

.songtime {
    font-size: 12px;
    color: white;
    width: 120px;
    text-align: end;
}
.timevol{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.seekbar {
    height: 3px;
    border-radius: 10px;
    margin: 5px 0px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.circle {

    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 30px;
    background-color: white;
    bottom: 9px;
    transition: left .5s;
    left: 0%;

}

@media screen and (max-width: 1400px) {
    .left {
        position: absolute;
        left: -150%;
        transition: all .3s;
        z-index: 1;
        width: 350px;
    }

    .close {
        display: block;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: 98%;
    }

    .seekbar {
        width: 100%;
    }

    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 815px) {
   
    .playbar{
        width: 97%;
    }
  .circle{
    bottom: 12px;
  }
    .abovebar {
        flex-wrap: nowrap;
    }
    .abovebar {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
.volume{
    display: flex;
    justify-content: center;
}
   
    .seekbar{
        width: 100%;
        margin-bottom: 17px;
    }
    .songinfo, .songtime, .songbtn{
        width: auto;
       text-align: center;
    }
    .timevol{
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .cardContainer {
        display: grid;
        justify-content: center;
    }

    .card {
        height: 350px;
        width: 300px;
    }

    .card img {
        width: 270px;

    }
    .abovebar {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
.volume{
    display: flex;
    justify-content: center;
}
    .playbar{
        width: 94%;
    }
    .seekbar{
        width: 100%;
        margin-bottom: 17px;
    }
    .songinfo, .songtime, .songbtn{
        width: auto;
       text-align: center;
    }
    .timevol{
        display: block;
    }
}


@media screen and (max-width: 300px) {

    .card {
        height: 300px;
        width: 250px;
    }

    .card img {
        width: 230px;
    }

    .signup-btn {
        width: 71px;
    }

    .login-btn {
        width: 65px;
    }

    .nav-icons {
        gap: 5px;
    }

    .nav-icons img {
        width: 20px;
    }

    .playbar{
        width: 93%;
    }
    .seekbar{
        width: 100%;
    }
}